<?xml version="1.0" encoding="utf-8"?>
<configs>
  <keyandvalue key="E:\my_workspace\Qsyc--no\projects\GtChina2.0\Src\Model\InformationSystem\InformationSystemModel\ProductModel.ecomdl-ShownModel">76985530-d258-4d9e-97a2-2bbdae563edf</keyandvalue>
  <keyandvalue key="E:\my_workspace\Qsyc--no\projects\GtChina2.0\Src\Model\InformationSystem\InformationSystemModel\ProductModel.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="E:\my_workspace\Qsyc--no\projects\GtChina2.0\Src\Model\InformationSystem\InformationSystemModel\InformationModel.ecomdl-ShownModel">79c74227-fd21-4bdd-99ef-730506b6da19</keyandvalue>
  <keyandvalue key="E:\my_workspace\Qsyc--no\projects\GtChina2.0\Src\Model\InformationSystem\InformationSystemModel\InformationModel.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="C:\Users\wangwei\Documents\workingspace\GtChina\Src\Model\InformationSystem\InformationSystemModel\InformationModel.ecomdl-ShownModel">79c74227-fd21-4bdd-99ef-730506b6da19</keyandvalue>
  <keyandvalue key="G:\my_workspace\Qsyc--no\projects\GtChina2.0\Src\Model\InformationSystem\InformationSystemModel\InformationModel.ecomdl-ShownModel">79c74227-fd21-4bdd-99ef-730506b6da19</keyandvalue>
  <keyandvalue key="E:\2017项目\projects\GtChina2.0\Src\Model\InformationSystem\InformationSystemModel\InformationModel.ecomdl-ShownModel">79c74227-fd21-4bdd-99ef-730506b6da19</keyandvalue>
  <keyandvalue key="E:\2017项目\projects\GtChina2.0\Src\Model\InformationSystem\InformationSystemModel\InformationModel.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="C:\Users\wangwei\Documents\workSpace\projects\GtChina2.0\Src\Model\InformationSystem\InformationSystemModel\InformationModel.ecomdl-ShownModel">79c74227-fd21-4bdd-99ef-730506b6da19</keyandvalue>
  <keyandvalue key="C:\Users\wangwei\Documents\workSpace\projects\GtChina2.0\Src\Model\InformationSystem\InformationSystemModel\InformationModel.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="C:\Users\wangwei\Documents\projects\dotnetCoreTest\webCoreTes\InformationSystemModel\InformationModel.ecomdl-ShownModel">79c74227-fd21-4bdd-99ef-730506b6da19</keyandvalue>
  <keyandvalue key="C:\Users\wangwei\Documents\projects\dotnetCoreTest\webCoreTes\InformationSystemModel\Model.ecomdl-ShownModel">79c74227-fd21-4bdd-99ef-730506b6da19</keyandvalue>
  <keyandvalue key="C:\Users\wangwei\Documents\projects\dotnetCoreTest\webCoreTes\InformationSystemModel\Model.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="C:\Users\wangwei\Documents\workSpace\projects\dotnetCore\dotnetCoreTest\webCoreTes\InformationSystemModel\Model.ecomdl-ShownModel">5645dc19-1102-4a2d-add7-1d48e8791815</keyandvalue>
  <keyandvalue key="C:\Users\wangwei\Documents\workSpace\projects\dotnetCore\GtChina\mainWeb\GtChina.Model\Model.ecomdl-ShownModel">4c5d14e8-91ab-423b-8dc4-4b27e75a61dd</keyandvalue>
  <keyandvalue key="C:\Users\wangwei\Documents\workSpace\projects\dotnetCore\GtChina\mainWeb\GtChina.Model\Model.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="C:\Users\wangw\Documents\workSpace\projects\dotnetCore\GtChina\mainWeb\GtChina.Model\Model.ecomdl-ShownModel">0261c31c-8a30-41aa-a335-1db70de98487</keyandvalue>
  <keyandvalue key="C:\Users\wangw\Documents\workSpace\projects\dotnetCore\GtChina\mainWeb\GtChina.Model\Model.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="E:\transportation\dotnetcore\GtChina\mainWeb\GtChina.Model\Model.ecomdl-ShownModel"></keyandvalue>
  <keyandvalue key="D:\GitFile\dotnetcore\GtChina\mainWeb\GtChina.Model\Model.ecomdl-ShownModel">5645dc19-1102-4a2d-add7-1d48e8791815</keyandvalue>
  <keyandvalue key="E:\transportation\dotnetcore\GtChina\mainWeb\GtChina.Model\Model.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="C:\Users\wangw\Documents\workSpace\projects\dotnetCore\GtChina\mainWeb\GtChina.Model\Model.ecomdl-ViewModelDesignerStyles"></keyandvalue>
  <keyandvalue key="C:\Users\wangw\Documents\workSpace\projects\dotnetCore\GtChina\mainWeb\GtChina.Model\Model.ecomdl-ViewModelScreenSizeX">1920</keyandvalue>
  <keyandvalue key="C:\Users\wangw\Documents\workSpace\projects\dotnetCore\GtChina\mainWeb\GtChina.Model\Model.ecomdl-ViewModelScreenSizeY">1080</keyandvalue>
  <keyandvalue key="C:\Users\wangw\Documents\workSpace\projects\dotnetCore\GtChina\mainWeb\GtChina.Model\Model.ecomdl-SelectedViewModelInEditor">c34cb946-801d-45a2-b809-55ec6efaf9b0</keyandvalue>
  <keyandvalue key="C:\Users\wangw\Documents\workSpace\projects\dotnetCore\OrientSport\server\OrientSport.Model\Model.ecomdl-ShownModel">b8c3e890-c145-4115-a9df-e7fb84fcd636</keyandvalue>
  <keyandvalue key="C:\Users\wangw\Documents\workSpace\projects\dotnetCore\OrientSport\server\OrientSport.Model\Model.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="D:\Personal\Documents\workSpace\projects\dotnetCore\OrientSport\server\OrientSport.Model\Model.ecomdl-ShownModel">b8c3e890-c145-4115-a9df-e7fb84fcd636</keyandvalue>
  <keyandvalue key="D:\Personal\Documents\workSpace\projects\dotnetCore\OrientSport\server\OrientSport.Model\Model.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="D:\Personal\workSpace\projects\dotnetCore\OrientSport\server\OrientSport.Model\Model.ecomdl-ShownModel">5645dc19-1102-4a2d-add7-1d48e8791815</keyandvalue>
  <keyandvalue key="D:\Personal\workSpace\projects\dotnetCore\OrientSport\server\OrientSport.Model\Model.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="D:\Personal\workSpace\projects\dotnetCore\OrientSport\server\OrientSport.Model\ecoModelDefine\Model.ecomdl-ShownModel">5645dc19-1102-4a2d-add7-1d48e8791815</keyandvalue>
  <keyandvalue key="D:\Personal\workSpace\projects\dotnetCore\OrientSport\server\OrientSport.Model\ecoModelDefine\Model.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="D:\Personal\workSpace\projects\dotnetCore\wlwTestServer\Server\wlw.Model\ecoModelDefine\Model.ecomdl-ShownModel">e58f5663-5cfb-4ba0-ad3a-2ddd03d781a5</keyandvalue>
  <keyandvalue key="D:\Personal\workSpace\projects\dotnetCore\wlwTestServer\Server\wlw.Model\ecoModelDefine\Model.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="D:\Personal\workSpace\projects\dotnetCore\dndz\Server\wlw.Model\ecoModelDefine\Model.ecomdl-ShownModel">e58f5663-5cfb-4ba0-ad3a-2ddd03d781a5</keyandvalue>
  <keyandvalue key="D:\Personal\workSpace\projects\dotnetCore\dndz\Server\wlw.Model\ecoModelDefine\Model.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="D:\Personal\workSpace\projects\dotnetCore\FileServerWeb\Server\HappyKids.Model\ecoModelDefine\Model.ecomdl-ShownModel">c021c94a-c623-482c-8079-1b836eb8ee5e</keyandvalue>
  <keyandvalue key="D:\Personal\workSpace\projects\dotnetCore\FileServerWeb\Server\HappyKids.Model\ecoModelDefine\Model.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="C:\Users\wangwei\Documents\workingspace\projects\dotnetCore\FileServerWeb\Server\HappyKids.Model\ecoModelDefine\Model.ecomdl-ShownModel">5645dc19-1102-4a2d-add7-1d48e8791815</keyandvalue>
  <keyandvalue key="D:\Personal\workSpace\projects\dotnetCore\happyKids\Server\HappyKids.Model\ecoModelDefine\Model.ecomdl-ShownModel">5645dc19-1102-4a2d-add7-1d48e8791815</keyandvalue>
  <keyandvalue key="D:\Personal\workSpace\projects\dotnetCore\happyKids\Server\HappyKids.Model\ecoModelDefine\Model.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="D:\document\workSpace\projects\dotnetCore\happyKids\Server\HappyKids.Model\ecoModelDefine\Model.ecomdl-ShownModel">c021c94a-c623-482c-8079-1b836eb8ee5e</keyandvalue>
  <keyandvalue key="D:\document\workSpace\projects\dotnetCore\open_microService\deploySys\model\ecoModelDefine\Model.ecomdl-ShownModel">5645dc19-1102-4a2d-add7-1d48e8791815</keyandvalue>
  <keyandvalue key="D:\document\workSpace\projects\dotnetCore\open_microService\deploySys\model\ecoModelDefine\Model.ecomdl-PreserveLegacyFilenames"></keyandvalue>
</configs>