@{
    Layout = "_dataLayout";
}

@section _search {
    <searchEditor v-bind:SearchModel="mainSearchModel" v-on:dosearch="getMainTableData"></searchEditor>
}
@section _command{
    <el-button-group>
           <el-button type="primary" icon="el-icon-switch-button" v-on:click="openStopInstance" :disabled="mainCommandDisnable"></el-button>
           <el-button type="primary" icon="el-icon-magic-stick" v-on:click="openRestartInstance" :disabled="mainCommandDisnable"></el-button>
         <el-button type="primary" icon="el-icon-delete" v-on:click="openRemoveInstance" :disabled="mainCommandDisnable"></el-button>
    </el-button-group>
}

<template>
    <div>
        <v-table is-vertical-resize
                 :vertical-resize-offset='60'
                 is-horizontal-resize
                 style="width:100%"
                 :multiple-sort="false"
                 :min-height="550"
                 even-bg-color="#f2f2f2"
                 :columns="mainTableConfig.columns"
                 :table-data="mainTableConfig.tableData"
                 row-hover-color="#eee"
                 row-click-color="#edf7ff"
                 :row-click="mainRowClick"
                 v-on:sort-change="sortChange"
                 :paging-index="(mainPageIndex-1)*pageSize"></v-table>

       <div class="mt20 mb20 bold"></div>

        <div class="pages">
            <v-pagination v-on:page-change="mainPageChange" v-on:page-size-change="mainPageSizeChange" :total="mainTotalCount" :page-size="pageSize" :layout="['total', 'prev', 'pager', 'next', 'sizer', 'jumper']">

            </v-pagination>
        </div>

</template>


@section vueScript{
    <script>
        var vmd = new ViewModel();
        vmd.init("#app");
        function ViewModel() {
            var me = this;
            ViewModelBase.call(me);
            vmExtend.call(me);
            me.data.deptOptions = [];
            me.data.rolesOptions = [];
            me.data.mainTableConfig.columns = [
                {
                    field: 'Id', width: 50, titleAlign: 'center', columnAlign: 'center', title: 'ID', titleCellClassName: 'title-cell-class-name-title', isFrozen:true
                },
                { field: 'instanceId', width: 200, titleAlign: 'center', title: '实例Id', columnAlign: 'center', titleCellClassName: 'title-cell-class-name-title', isFrozen:false },
                { field: 'proxyPort', width: 100, titleAlign: 'center', title: '端口', columnAlign: 'center', titleCellClassName: 'title-cell-class-name-title', isFrozen: false },
                { field: 'IP', width: 100, titleAlign: 'center', title: '访问IP', columnAlign: 'center', titleCellClassName: 'title-cell-class-name-title', isFrozen: false },
                { field: 'domain', width: 100, titleAlign: 'center', title: '域名', columnAlign: 'center', titleCellClassName: 'title-cell-class-name-title', isFrozen: false },
                { field: 'isNginx', width: 100, titleAlign: 'center', title: '是Nginx', columnAlign: 'center', titleCellClassName: 'title-cell-class-name-title', isFrozen: false },
                
                { field: 'status', width: 100, titleAlign: 'center', title: '实例状态', columnAlign: 'center', titleCellClassName: 'title-cell-class-name-title',formatter: function (rowData, rowIndex, pagingIndex, field) {
                        console.log(rowData);
                        return rowData.status == 0 ? '预分配' : rowData.status == 10 ? '待处理' : rowData.status == 20 ? '运行中' :rowData.status == -1 ? '已停止':rowData.status == 100 ? '等待停止':rowData.status == 101 ? '等待重启':rowData.status == 102 ? '等待删除': '其他未知'
                    }, isFrozen:false },
                { field: 'CreateDt', width: 100, titleAlign: 'center', title: '创建时间', columnAlign: 'center', titleCellClassName: 'title-cell-class-name-title', isFrozen:false },

                { field: 'appName', width: 200, titleAlign: 'center', title: '应用名称', columnAlign: 'center', titleCellClassName: 'title-cell-class-name-title', isFrozen:false },
                { field: 'key', width: 100, titleAlign: 'center', title: '应用Key', columnAlign: 'center', titleCellClassName: 'title-cell-class-name-title', isFrozen: false },
             { field: 'version', width: 100, titleAlign: 'center', title: '版本', columnAlign: 'center', titleCellClassName: 'title-cell-class-name-title', isFrozen:false },
           { field: 'port', width: 100, titleAlign: 'center', title: '应用端口', columnAlign: 'center', titleCellClassName: 'title-cell-class-name-title', isFrozen:false },

            ];

        }
        function vmExtend() {
            var me = this;
             me.methods.openRemoveInstance = function () {
                $vmpa.confirm("确定要删除该实例吗？", me.methods.removeInstance);
            };
            me.methods.removeInstance = function () {
                 var url ="/Api/SysManage/removeInstance/" + me.data.mainSelectedModel[me.ModelKeyName];
                var params = {};
                var _this = this;
                $vmpa.post(url, params, function (result) {
                    var msg = result.Msg || "处理成功";
                    $vmpa.msg(msg);
                    if (result.Status == ResultStatus.OK) {
                        me.methods.getMainTableData();
                        me.methods.mainSelectedModel = null;
                    }
                });
            };
            me.methods.stopInstance = function () {
                 var url ="/Api/SysManage/stopInstance/" + me.data.mainSelectedModel[me.ModelKeyName];
                var params = {};
                var _this = this;
                $vmpa.post(url, params, function (result) {
                    var msg = result.Msg || "处理成功";
                    $vmpa.msg(msg);
                    if (result.Status == ResultStatus.OK) {
                        me.methods.getMainTableData();
                        me.methods.mainSelectedModel = null;
                    }
                });
            };
            me.methods.openStopInstance = function () {
               $vmpa.confirm("确定要停止该实例吗？", me.methods.stopInstance);
            };
             me.methods.restartInstance = function () {
                 var url ="/Api/SysManage/restartInstance/" + me.data.mainSelectedModel[me.ModelKeyName];
                var params = {};
                var _this = this;
                $vmpa.post(url, params, function (result) {
                    var msg = result.Msg || "处理成功";
                    $vmpa.msg(msg);
                    if (result.Status == ResultStatus.OK) {
                        me.methods.getMainTableData();
                        me.methods.mainSelectedModel = null;
                    }
                });
            };
            me.methods.openRestartInstance = function () {
                  $vmpa.confirm("确定要重启该实例吗？", me.methods.stopInstance);
            };
            me.methods.sortChange = function (params) {
                if (params.height.length > 0) {

                    this.mainTableConfig.tableData.sort(function (a, b) {

                        if (params.height === 'asc') {

                            return a.height - b.height;
                        } else if (params.height === 'desc') {

                            return b.height - a.height;
                        } else {

                            return 0;
                        }
                    });
                }

            };
            
            me.mainLoadTablePagedDataUrl = "/Api/SysManage/MicroServiceAppsInstance?appId=@ViewBag.appId &hostId=@ViewBag.hostId";
            me.mainAddUrl = "";
            me.mainDeleteUrl = "";
            me.mainUpdateUrl = "";
            me.data.mainDialog = new appTypeDialog(this, true);
            me.mainDetailUrl = "";
            me.methods.OnCreate = function () {
              
            }
        }
        function appTypeDialog(vm, _ismain) {
            var me = this;
            DialogBase.call(me, vm, _ismain);
            me.OnSave = function (model) {
                var updateurl = "";
                
               
                if (me.EditModel[me._vm.ModelKeyName] > 0) {


                   

                    if (me.isMain)
                        updateurl = me._vm.mainUpdateUrl;
                    else
                        updateurl = me._vm.slaveUpdateUrl;
                    $vmpa.postJson(updateurl, me.EditModel, function (result) {
                        me.refreshTable();
                    })
                } else {
                    if (me.isMain)
                        updateurl = me._vm.mainAddUrl;
                    else
                        updateurl = me._vm.slaveAddUrl;
                    $vmpa.postJson(updateurl, me.EditModel, function (result) {
                        me.refreshTable();
                    })
                }
            }
        
           
        }
    </script>

}

