


<el-dialog :close-on-click-modal=false title="数据库服务维护" :visible="mainDialog.IsShow"
           v-on:close='mainDialog.Close' v-on:open=""
           v-loading="mainDialog.loading" width="800px">
    <el-form :model="mainDialog.EditModel">


        <el-row :gutter="10">
            <el-col :span="12">
                <el-form-item label="名称："  :rules="[
      { required: true, message: '名称不能为空'}      
    ]">
                    <el-input v-model="mainDialog.EditModel.Name" :disabled="false"  placeholder="请输入" style="width:250px"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item label="Ip地址：" :rules="[
      { required: true, message: 'Ip地址不能为空'}      
    ]">
                    <el-input v-model="mainDialog.EditModel.IP" :disabled="false" placeholder="请输入" style="width:250px"></el-input>
                </el-form-item>
            </el-col>

            <el-col :span="12">
                <el-form-item label="端口号：" :rules="[
      { required: true, message: '端口号不能为空'}      
    ]">
                    <el-input v-model="mainDialog.EditModel.Port" :disabled="false" placeholder="请输入" style="width:250px"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item label="root用户：" :rules="[
      { required: true, message: 'root用户不能为空'}      
    ]">
                    <el-input v-model="mainDialog.EditModel.rootUser" :disabled="false" placeholder="请输入" style="width:250px"></el-input>
                </el-form-item>
            </el-col>

            <el-col :span="12">
                <el-form-item label="密码：" :rules="[
      { required: true, message: '密码不能为空'}      
    ]">
                    <el-input v-model="mainDialog.EditModel.Password" :disabled="false" type="password" placeholder="请输入" style="width:250px"></el-input>
                </el-form-item>
            </el-col>
           
            <el-col :span="12">
                <el-form-item label="数据库类型：" :rules="[
      { required: true, message: '数据库类型不能为空'}      
    ]">
                    <el-select v-model="mainDialog.EditModel.dbType"  placeholder="请选择">
                        <el-option v-for="item in rolesOptions"
                                   :key="item.Name"
                                   :label="item.Name"
                                   :value="item.Name">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
        </el-row>              
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button v-on:click="mainDialog.Close">取 消</el-button>
        <el-button type="primary" v-on:click="mainDialog.Save">确 定</el-button>
    </div>
</el-dialog>


